[
    {
        "name": "Example name",
        "url": "/example/endpoint",
        "script": "exampleScript.sh",
        "arguments": [
            "--exampleArgument",
            "--useDifferentExample true",
            "--exampleLevel 69"
        ]
    }
]